/Inlämningsuppgift1/nbproject/private/
/Inlämningsuppgift1/build/
/Inlämningsuppgift/nbproject/private/
/Inlämningsuppgift/build/
/Inlupp1/nbproject/private/
/Inlupp1/build/
/Inlämingsuppgift1/nbproject/private/
/Inlämingsuppgift1/build/
/Inlämningsuppgift1.1/nbproject/private/
/Inlämningsuppgift1.1/build/